@charset "utf-8";

@media screen and (min-width:1025px) {
  .toggle_btn, .s1, i.fa-times, .fa-angle-down, .con h2{
    display:none;
}
header{
  position:relative;z-index: 1000;
}
.header_inner{
  position:relative; /* 기준 */
  width:1200px;height:112px;
  margin:0px auto; 
}
.header_inner > h1{
  transform:translateY(20px);
}
.header_inner .lnb{
  display:flex;
  position:absolute;
  right:70px;top:10px;
}
.header_inner .lnb > ul{
  display:flex;
}
.header_inner .lnb > ul a{
  text-transform:uppercase;
  font-size:13px;
  border-right:1px solid #ccc;
  padding:0px 6px;
  line-height:22px;
}
.header_inner .lnb > ul li:nth-child(6) a{
  border:none;
}
.gnb{
  width:100%;
  overflow: hidden;
  transition:0.5s;
  position:absolute;
  z-index: 10;
  background:rgb(255, 255, 255,0.7);
  height:40px;
  margin-top: 20px;
} 
.gnb:hover{
  height:260px;
}
.gnb > ul{
  display:flex;
  width:515px;
  margin:0 auto;
  justify-content: center; /*flex-end도 가능 */
}
.gnb > ul > li{
  margin:0px 3.4%;
  text-align: center;
  position:relative; /* 서브메뉴의 기준 */
}
.gnb > ul > li > a{
  font-size:16px;
  padding:0px 6px;
  display:block;
  line-height:40px;
}
.gnb > ul > li > a:hover{
  color:#ff9900;
}
.gnb > ul > li > a::after{
  display:block;
  content:"";
  height: 2px;
  transform:translateY(-3px)scale(1);
}
/* 서브메뉴 서식 */
.sub{
  /* position:absolute;
  width:100%; */
}
.sub  a{
  line-height:36px;
  display:block;
  font-size:13px;
}
main{}
.mslide{display:none;}
.mySwiper{}
.mySwiper .swiper-wrapper{}

.mySwiper .swiper-wrapper .swiper-slide{
  background:#333;
}
}