@charset "utf-8";

@media screen and (min-width:1025px) {
  .toggle_btn, .s1, i.fa-times, .fa-angle-down, .con h2{
    display:none;
}
header{
  position:relative;z-index: 1000;
}
.header_inner{
  position:relative; /* 기준 */
  width:1200px;height:112px;
  margin:0px auto; 
}
.header_inner > h1{
  transform:translateY(20px);
}
.header_inner .lnb{
  display:flex;
  position:absolute;
  right:70px;top:10px;
}
.header_inner .lnb > ul{
  display:flex;
}
.header_inner .lnb > ul a{
  text-transform:uppercase;
  font-size:13px;
  border-right:1px solid #ccc;
  padding:0px 6px;
  line-height:22px;
}
.header_inner .lnb > ul li:nth-child(6) a{
  border:none;
}
.gnb{
  width:100%;
  overflow: hidden;
  transition:0.5s;
  position:absolute;
  z-index: 10;
  background:rgb(255, 255, 255,0.7);
  height:40px;
  margin-top: 20px;
} 
.gnb:hover{
  height:260px;
}
.gnb > ul{
  display:flex;
  width:515px;
  margin:0 auto;
  justify-content: center; /*flex-end도 가능 */
}
.gnb > ul > li{
  margin:0px 3.4%;
  text-align: center;
  position:relative; /* 서브메뉴의 기준 */
}
.gnb > ul > li > a{
  font-size:16px;
  padding:0px 6px;
  display:block;
  line-height:40px;
}
.gnb > ul > li > a:hover{
  color:#ff9900;
}
.gnb > ul > li > a::after{
  display:block;
  content:"";
  height: 2px;
  transform:translateY(-3px)scale(1);
}
/* 서브메뉴 서식 */
.sub{
  /* position:absolute;
  width:100%; */
}
.sub  a{
  line-height:36px;
  display:block;
  font-size:13px;
}
main{}
.mslide{display:none;}
.mySwiper{}
.mySwiper .swiper-wrapper{}
.swiper-wrapper .swiper-slide img{
  width:100%;
}
.mySwiper .swiper-wrapper .swiper-slide{
  background:#333;
}
.search-box {
  position: absolute;
  top: 130%;
  left:25%;
}
.search-box {
  /* 생략 */
  background-color: #EF4023;
  width:995px;
  height: 81px;
  border-radius:45px;
  margin-top: 70px;
}
.search-btn {
  color: #EDEDED;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #EF4023;
  display: flex;
  align-items: center;
  justify-content: center;
  border:none;
}
.search-txt {
  background: none;
  border: none;
  outline: none;
  width: 50%;
  height: 100%;
  padding-left:  372px; 
  font-size: 25px;
  letter-spacing: 0.85px;
  text-align: left;
  color:#fff;
}
.fa-search{
  font-size: 36px;
  padding-top:25px;
  color:#fff;
}
.con{}
.con .D_products{}
.con  h3{
  font-size: 25px;
  text-align: center;
  color:#333;
  padding-top:230px;
}
.products{
  display:flex;
  padding-left: 300px;
}
.D_products span{
}
.products li{
  margin-left: 25px;
}
.products li img{
  width:250px;
  height: 190px;
}
.products li img:hover{
  opacity: 0.5;
}
.products p{
  font-size: 12px;
}
.brand ul{
  height:323px;
  background:#EF4023;
  display:flex;
  padding-left:495px;
}
.brand li{
  padding-left:30px;
  margin-top:80px;
}
.brand li img:hover{
  opacity:0.5
}
.Social{
  display:grid;
  grid-template-columns: 500px 500px 500px;
	grid-template-rows: repeat(3, 1fr);
  padding-left:228px;
}
.Social li{}
.Social li img{
  width:428px;
  height:242px;
}
.Social li img:hover{
  opacity:0.5;
}
footer{
  height:146px;
}
footer .f_lnb{}
footer .f_lnb .t_foo{}
footer .f_lnb .f_logo{
  display:flex;
  padding-left:100px;
}
footer .f_lnb .f_logo p{
  font-size:24px;
  margin-left: 60px
}
footer .f_lnb .company{
  text-align: center;
  margin-top:20px;
}
footer .f_lnb .email{
  position: absolute;
  right:140px;
}
address{
  padding-top: 40px;
  text-align: center;
}
}